<!DOCTYPE html>

<html lang="en">
    <head>
        <title>SIS StudentVue</title>
		<link href="static/style.css" rel="stylesheet"></head>
		<script src="static/script.js"></script>
		<script>
			function toggleButton(){
				if(document.getElementById("txtSearch").value == "")
				{
					document.getElementById("btnSearch").disabled = true;
				}
				else{
					document.getElementById("btnSearch").disabled = false;
				}
			}

			
		</script>
    <body onload="getDate()">
			<div class="container">
        <form autocomplete="off" action="https://www.google.com/search" method="get">
				<table>
					<thead><tr><th>
						SIS StudentVue
					</th></tr></thead>
					<tbody>
					<tr>
						<td>
            <input name="q" id="txtSearch" type="text" placeholder="Search Any NOVA county" onkeyup="toggleButton()">
						<input type="hidden" name="q" value="site:https://sisstudent.fcps.edu/">
            <input type="submit" disabled value="Search" name="btnSearch" id="btnSearch">
						</td>
					</tr>
					<tr>
						<td class="footer"><img src="static/sis.jpeg" alt="SIS" height="500" width="500">&nbsp;&nbsp;Nuclear Powered since 2024</td>
					</tr>
					<tr>
						<td class="footer">
							<a href="https://sisstudent.fcps.edu/SVUE/PXP2_Login_Student_OVR.aspx?regenerateSessionId=True" target = "_blank"></a>
						&nbsp;|&nbsp;<span id="date"></span>
						</td>
					</tr>
					</tbody>
				</table>
        </form>
			</div>
    </body>
</html>
